body {
  font-family: "Georgia", serif;
  background: #bb9457;
  color: #6f1d1b;
  text-shadow: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #6f1d1b;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #ffe6a7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 1.5rem;
}

nav a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  align-items: center;
}

input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 1.1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #ffe6a7;
  color: #432818;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  height: 2.2rem;
}

button:hover {
  background-color: #ffe6a7b9;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0.5rem auto; 
  padding: 0.5rem;
  line-height: 24px;
  background-color: #432818;
  border: 1px solid #99582a;
  border-radius: 4px;
  color: #bb9457;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #ffe6a7;
  padding: 0.5rem;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  background-color: #432818;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  margin-bottom: 1rem;
  margin-left: 10px;
}

header form input {
  font-size: 16px;
}

header form button {
  font-size: 16px;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
